<%- include("partials/header"); -%>

<h1> The temperature is  <%=temp%> degrees celcius in <%=location%> </h1>
<h2>The weather in <%=location%> is: <%=description%> <h2>
<img src='<%=imageURL%>'/>




<%- include("partials/footer"); -%>
